body {
    margin:0%;
}

.menu-container {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
}

.logo-group {
    display: flex;
    align-items: center;
}

#logo {
    height: 60px;
    width: auto;
}

.logo-text {
    margin-left: 5px;
    font-size: x-large;
}

.nav-links {
    padding-right: 10%;
}

.about,.contact {
    padding-left: 20px;
}

/* Makes the navigation links white regardless of state */
a, a:hover, a:active, a:visited {
    color: white;
    text-decoration: none;
}